*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
        --colorTittleClear: #ffebda;
        --BackGround: #000000;
        --BackGroundHome: #000000ec;
        --colorTittleDark: #5c2f05;
        --colorText: #cd1a1a;
}

.main-about{
    margin-top: 95px;
    padding: 0.1px;
    background: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.925)), url('/images/gym.png');
    background-repeat: no-repeat;
    background-size: cover;
 /*    background-position: center; */
    background-attachment: fixed;
   
}
.about{
    width: 40%;
    margin: 120px auto;
    padding: 75px;
    border: var(--colorText) 1px solid;
    background-color: var(--BackGround);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/BACK-MUSCLES.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.about h2{
    color: var(--colorText);
    margin-bottom: 15px;
    text-align: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:var(--colorTittleClear)
}
.about p{
    color: var(--colorTittleClear);
    margin-bottom: 15px;
    text-align: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:var(--colorText)
}

@media (max-width:900px){
    .about{
        width: 60%;
    }
  
    

}
  @media (max-width:776px){
    .about{
        width: 75%;
    }
 
}
  @media (max-width:640px){
    .about h2{
        font-size: 20px;

    }
    .about p{
        font-size: 14px;

    }
 
}
  @media (max-width:480px){
    .about{
        width: 80%;
        padding: 40px;
    }
   
    .about h2{
        font-size: 25px;

    }
    .about p{
        font-size: 20px;

    }
}

  @media (max-width:370px){
    .about h2{
        font-size: 14px;

    }
    .about p{
        font-size: 8px;

    }
   
 
}